<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>영향도 분석</title>

	<!-- 요청 파라미터 저장 Js -->
	<script src="/assets/js/parameterSave.js"></script>
</head>
<div class="page-content" layout:fragment="main">

	<div class="container" style="max-width: 90%; margin: 0 auto; padding: 0;">
		<h2 class="mb-4 text-center"><a href="/admin/e2e/influence">영향도 분석 관리</a></h2>

		<form action="/admin/e2e/influence" class="row justify-content-end" id="searchForm" method="get">
			<div class="col-4 p-0">
				<div class="input-group">
					<!-- 검색 조건 선택 -->
					<select class="form-select" name="searchType">
						<option th:selected="${searchType == 'table'}" value="table">테이블 명</option>
						<option th:selected="${searchType == 'class'}" value="class">클래스 명</option>
					</select>

					<!-- 검색 키워드 입력 -->
					<input class="form-control ms-2" name="searchKeyword" placeholder="검색어를 입력하세요"
					       th:value="${param.searchKeyword}" type="text"/>

					<!-- 검색 버튼 -->
					<button class="btn btn-sm btn-primary" type="submit">
						<i class="ri-search-line fs-5"></i></button>
				</div>
			</div>
		</form>

		<br/>
		<div class="table-responsive">
			<!-- 검색 결과 없을 때 메시지 -->
			<div class="m-lg-5 p-lg-5 text-center" th:if="${logList.size() == 0}">
				<h4>검색 결과가 없습니다.</h4>
			</div>

			<table class="table table-hover table-centered" th:unless="${logList.size() == 0}">
				<thead>
				<tr class="text-center">
					<th>타임스탬프</th> <!-- 로그가 저장된 시간 -->
					<th>추적ID</th> <!-- 추적 아이디 -->
					<th>테이블/클래스</th> <!-- caller_method 정보 -->
					<th>사용자IP</th> <!-- 사용자 아이피 -->
					<th>사용자ID</th> <!-- 사용자 아이디 -->
				</tr>
				</thead>
				<tbody>
				<tr class="align-middle text-center" th:each="log : ${logList}" style="cursor: pointer;"
				    th:onclick="|window.location.href='@{/admin/e2e/trace(traceId=${log.traceId})}'|">
					<!-- 타임스탬프 -->
					<td th:text="${#dates.format(log.timestamp, 'yyyy-MM-dd HH:mm:ss.SSS')}"></td>
					<!-- 추적 아이디 -->
					<td class="text-start">
						<a th:href="@{'/admin/e2e/trace?traceId=' + ${log.traceId}}">
							<span th:if="${log.traceId != null}" th:text="${log.traceId}"></span>
							<span th:unless="${log.traceId != null}">N/A</span>
						</a>
					</td>
					<!-- 호출상세 -->
					<td class="text-start trace-id">
						<span th:if="${log.traceId != null}">
							<a th:text="${log.query != null ? log.query : log.callerComponentName}"></a>
						</span>
						<span th:unless="${log.targetComponentName != null}">N/A</span>
					</td>
					<!-- 사용자 IP -->
					<td class="user-ip">
						<span th:if="${log.userIp != null}" th:text="${log.userIp}"></span>
						<span th:unless="${log.userIp != null}">N/A</span>
					</td>
					<!-- 사용자 ID -->
					<td class="user-id">
						<span th:if="${log.userId != null}" th:text="${log.userId}"></span>
						<span th:unless="${log.userId != null}">N/A</span>
					</td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="row" th:if="${logList.size() > 0}">
			<ul class="pagination">
			<!-- 이전 페이지 그룹 -->
			<li class="page-item" th:classappend="${currentPage > 10} ? '' : 'disabled'">
				<a class="page-link" th:href="@{/admin/e2e/influence(page=${(currentPage - 1)/10 * 10}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}"
				   th:if="${currentPage > 10}">
					 « 이전
				</a>
				<a class="page-link" th:unless="${currentPage > 10}" href="#">
					« 이전
				</a>
			</li>
			<!-- 페이지 번호 그룹 -->
			<li class="page-item" th:each="pageNum : ${#numbers.sequence((currentPage - 1)/10 * 10 + 1, (((currentPage - 1)/10 + 1) * 10 > totalPages ? totalPages : ((currentPage - 1)/10 + 1) * 10))}">
		        <a class="page-link" th:classappend="${pageNum == currentPage} ? 'active' : ''"
		           th:href="@{/admin/e2e/influence(page=${pageNum}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}">
		            <span th:text="${pageNum}"></span>
		        </a>
		    </li>

			<!-- 다음 페이지 그룹 -->
			<li class="page-item" th:classappend="${((currentPage - 1)/10 + 1) * 10 < totalPages} ? '' : 'disabled'">
				<a class="page-link" th:href="@{/admin/e2e/influence(page=${((currentPage - 1)/10 + 1) * 10 + 1}, searchType=${param.searchType}, searchKeyword=${param.searchKeyword})}"
				   th:if="${((currentPage - 1)/10 + 1) * 10 < totalPages}">
					 다음 »
				</a>
				<a class="page-link" th:unless="${((currentPage - 1)/10 + 1) * 10 < totalPages}" href="#">
					다음 »
				</a>
			</li>
			</ul>
		</div>

	</div>

</div>
<!-- ==================================================== -->
<!-- End Page Content -->
<!-- ==================================================== -->

</html>
