<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="neo.spider.admin.flow.mapper.BulkheadMapper">
    <select id="findByApplication" resultType="neo.spider.admin.flow.dto.bulkhead.BulkheadSearchDto">
        SELECT b.bulkhead_id, a.application_name, b.url, b.max_concurrent_calls, b.max_wait_duration
        FROM FWK_BULKHEAD b, FWK_APPLICATION a
        WHERE b.application_id = a.application_id and b.application_id = #{applicationId}
        <if test="url != null and url != ''">and b.url LIKE concat('%', #{url}, '%')</if>
    </select>
    <insert id="create" useGeneratedKeys="true" parameterType="neo.spider.admin.flow.dto.bulkhead.BulkheadDto" keyProperty="bulkheadId">
        INSERT INTO FWK_BULKHEAD(application_id, url, max_concurrent_calls, max_wait_duration)
        VALUE (#{applicationId}, #{url}, #{maxConcurrentCalls}, #{maxWaitDuration})
    </insert>

    <delete id="delete">
        DELETE FROM FWK_BULKHEAD
        WHERE bulkhead_id = #{bulkheadId}
    </delete>

    <update id="update" parameterType="neo.spider.admin.flow.dto.bulkhead.BulkheadDto">
        UPDATE FWK_BULKHEAD
        SET url = #{url} , max_concurrent_calls = #{maxConcurrentCalls}, max_wait_duration= #{maxWaitDuration}
        WHERE bulkhead_id = #{bulkheadId}
    </update>

    <select id="findById" resultType="neo.spider.admin.flow.dto.bulkhead.BulkheadDto">
        SELECT *
        FROM FWK_BULKHEAD
        WHERE bulkhead_id = #{bulkheadId}
    </select>
</mapper>