<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="neo.spider.solution.flowcontrol.mapper.ApplicationMapper">
    <select id="findIdByName">
        SELECT id
        from fwk_application
        WHERE application_name = #{appName}
        limit 1
    </select>

    <select id="count">
        SELECT count(*)
        from fwk_application
        where application_name = #{name}
    </select>
</mapper>