<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<title>배치 JOB 실행 이력</title>

	<!-- 요청 파라미터 저장 Js -->
	<script src="/assets/js/parameterSave.js"></script>
</head>
<div class="page-content" layout:fragment="main">

	<div class="container" style="max-width: 90%; margin: 0 auto; padding: 0;">
		<h2 class="mb-4 text-center"><a href="/admin/batch/jobList">배치 JOB 실행 이력</a></h2>

		<form action="/admin/batch/jobList" method="get" id="searchForm" name="frm">

			<div class="row justify-content-end">
				<div class="col-8 p-0">

					<div class="input-group">

						<select class="form-select" name="status">
							<option selected value="">---상태---</option>
							<option th:each="status : ${statusList}"
							        th:selected="${#strings.equals(status, param.status)}" th:text="${status}"
							        th:value="${status}"></option>
						</select>
						<input aria-label="jobName" class="form-control mx-2" name="jobName"
						       placeholder="Job 이름" th:value="${param.jobName}" type="text"/>
						<input class="form-control " name="startDate" th:value="${param.startDate}"
						       placeholder="시작날짜" type="date"/>
						<span class="px-2">~</span>
						<input class="form-control " name="endDate" th:value="${param.endDate}"
						       placeholder="종료날짜" type="date"/>
						<button class="btn btn-sm btn-primary" type="submit">
							<i class="ri-search-line fs-5"></i></button>
					</div>
				</div>
			</div>
			<div class="table-responsive">
				<!-- 검색 결과 없을 때 메시지 -->
				<div class="m-lg-5 p-lg-5 text-center" th:if="${jobList.size() == 0}">
					<h4>조회 결과가 없습니다.</h4>
				</div>

				<table th:unless="${jobList.size() == 0}" class="table table-hover">
					<thead>
					<tr class="text-center">
						<th class="sort white-space-nowrap" data-sort="instanceId">인스턴스ID</th>
						<th class="sort white-space-nowrap" data-sort="executionId">실행ID</th>
						<th class="sort white-space-nowrap" data-sort="ver">버전</th>
						<th class="sort white-space-nowrap" data-sort="jobName">Job이름</th>
						<th class="sort white-space-nowrap" data-sort="status">상태</th>
						<th class="sort white-space-nowrap" data-sort="exitCode">종료코드</th>
						<th class="sort white-space-nowrap" data-sort="createTime">생성시간</th>
						<th class="sort white-space-nowrap" data-sort="updateTime">변경시간</th>
					</tr>
					</thead>
					<tbody class="list" id="table-orders-body">
					<tr class="align-middle text-center" th:each="job : ${jobList}" style="cursor: pointer;"
					    th:onclick="|window.location.href='@{/admin/batch/jobDetail(instanceId=${job.instanceId}, executionId=${job.exec.executionId})}'|">
						<td class="instanceId" th:text="${job.instanceId}"></td>
						<td class="executionId" th:text="${job.exec.executionId}"></td>
						<td class="ver" th:text="${job.version}"></td>
						<td class="jobName" th:text="${job.jobName}"></td>
						<td class="status">
							<h4>
								<span class="exec-status badge" th:text="${job.exec.status}"></span>
							</h4>
						</td>
						<td class="exitCode">
							<h4>
								<span class="exec-status badge" th:text="${job.exec.exitCode}"></span>
							</h4>
						</td>
						<td class="createTime" th:text="${#dates.format(job.exec.createTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td class="updateTime" th:text="${#dates.format(job.exec.updateTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
					</tr>
					</tbody>
				</table>
			</div>

			<div class="row" th:if="${jobList.size() > 0}">
				<ul class="pagination">
				<!-- 이전 페이지 그룹 -->
				<li  class="page-item" th:classappend="${currentPage > 10} ? '' : 'disabled'">
					<a class="page-link" th:if="${currentPage > 10}"
					   th:href="@{/admin/batch/jobList(page=${(currentPage - 1)/10 * 10}, startTime=${param.startTime}, endTime=${param.endTime}, traceId=${param.traceId}, userId=${param.userId}, ipAddress=${param.ipAddress}, uri=${param.uri}, executeResult=${param.executeResult})}">
						« 이전
					</a>
					<a class="page-link" th:unless="${currentPage > 10}" href="#">
						« 이전
					</a>
				</li>
				<!-- 페이지 번호 그룹 -->
				<li class="page-item"
				    th:each="pageNum : ${#numbers.sequence((currentPage - 1)/10 * 10 + 1, (((currentPage - 1)/10 + 1) * 10 > totalPages ? totalPages : ((currentPage - 1)/10 + 1) * 10))}">
			        <a class="page-link" th:classappend="${pageNum == currentPage} ? 'active' : ''"
					   th:href="@{/admin/batch/jobList(page=${pageNum}, status=${param.status}, jobName=${param.jobName}, startDate=${param.startDate}, endDate=${param.endDate})}"
					   th:text="${pageNum}">
			        </a>
		        </li>

				<!-- 다음 페이지 그룹 -->
				<li class="page-item" th:classappend="${((currentPage - 1)/10 + 1) * 10 < totalPages} ? '' : 'disabled'">
					<a class="page-link"
					   th:href="@{/admin/batch/jobList(page=${((currentPage - 1)/10 + 1) * 10 + 1}, status=${param.status}, jobName=${param.jobName}, startDate=${param.startDate}, endDate=${param.endDate})}"
					   th:if="${((currentPage - 1)/10 + 1) * 10 < totalPages}">
			            다음 »
					</a>
					<a class="page-link" th:unless="${((currentPage - 1)/10 + 1) * 10 < totalPages}" href="#">
						다음 »
					</a>
				</li>
				</ul>
			</div>

		</form>

	</div>
	<!-- 상태 배지 색상 Js -->
	<script src="/assets/js/batch/status_badge.js"></script>
</div>
<!-- ==================================================== -->
<!-- End Page Content -->
<!-- ==================================================== -->

</html>