<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="neo.spider.solution.flowcontrol.mapper.BulkheadMapper">
    <select id="findById" resultType="neo.spider.solution.flowcontrol.dto.BulkheadDto">
        SELECT *
        FROM fwk_bulkhead
        WHERE id = #{id}
    </select>

    <select id="findAll" resultType="neo.spider.solution.flowcontrol.dto.BulkheadDto">
        SELECT *
        FROM fwk_bulkhead
        WHERE application_id=#{application_id}
    </select>
</mapper>