<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Right Sidebar (Theme Settings) -->
<div th:fragment="sidebar">
	<div class="offcanvas offcanvas-end border-0 rounded-start-4 overflow-hidden"
	     id="theme-settings-offcanvas" tabindex="-1">
		<div class="d-flex align-items-center bg-primary p-3 offcanvas-header">
			<h5 class="text-white m-0">Theme Settings</h5>
			<button aria-label="Close" class="btn-close btn-close-white ms-auto"
			        data-bs-dismiss="offcanvas" type="button"></button>
		</div>

		<div class="offcanvas-body p-0">
			<div class="h-100" data-simplebar>
				<div class="p-3 settings-bar">

					<div>
						<h5 class="mb-3 font-16 fw-semibold">Color Scheme</h5>

						<div class="form-check mb-2">
							<input class="form-check-input" id="layout-color-light" name="data-bs-theme"
							       type="radio" value="light"> <label
								class="form-check-label" for="layout-color-light">Light</label>
						</div>

						<div class="form-check mb-2">
							<input class="form-check-input" id="layout-color-dark" name="data-bs-theme"
							       type="radio" value="dark"> <label
								class="form-check-label" for="layout-color-dark">Dark</label>
						</div>
					</div>

					<div>
						<h5 class="my-3 font-16 fw-semibold">Topbar Color</h5>

						<div class="form-check mb-2">
							<input class="form-check-input" id="topbar-color-light"
							       name="data-topbar-color" type="radio" value="light">
							<label class="form-check-label" for="topbar-color-light">Light</label>
						</div>
						<div class="form-check mb-2">
							<input class="form-check-input" id="topbar-color-dark"
							       name="data-topbar-color" type="radio" value="dark">
							<label class="form-check-label" for="topbar-color-dark">Dark</label>
						</div>
					</div>


					<div>
						<h5 class="my-3 font-16 fw-semibold">Menu Color</h5>

						<div class="form-check mb-2">
							<input class="form-check-input" id="leftbar-color-light"
							       name="data-menu-color" type="radio" value="light">
							<label class="form-check-label" for="leftbar-color-light">
								Light </label>
						</div>

						<div class="form-check mb-2">
							<input class="form-check-input" id="leftbar-color-dark"
							       name="data-menu-color" type="radio" value="dark">
							<label class="form-check-label" for="leftbar-color-dark">
								Dark </label>
						</div>
					</div>

					<div>
						<h5 class="my-3 font-16 fw-semibold">Sidebar Size</h5>

						<div class="form-check mb-2">
							<input class="form-check-input" id="leftbar-size-default"
							       name="data-menu-size" type="radio" value="default">
							<label class="form-check-label" for="leftbar-size-default">
								Default </label>
						</div>

						<div class="form-check mb-2">
							<input class="form-check-input" id="leftbar-size-small"
							       name="data-menu-size" type="radio" value="condensed">
							<label class="form-check-label" for="leftbar-size-small">
								Condensed </label>
						</div>

						<div class="form-check mb-2">
							<input class="form-check-input" id="leftbar-hidden"
							       name="data-menu-size" type="radio" value="hidden">
							<label class="form-check-label" for="leftbar-hidden">
								Hidden </label>
						</div>

						<div class="form-check mb-2">
							<input class="form-check-input" id="leftbar-size-small-hover-active"
							       name="data-menu-size" type="radio"
							       value="sm-hover-active"> <label class="form-check-label"
							                                       for="leftbar-size-small-hover-active"> Small Hover
							Active </label>
						</div>

						<div class="form-check mb-2">
							<input class="form-check-input" id="leftbar-size-small-hover"
							       name="data-menu-size" type="radio"
							       value="sm-hover"> <label class="form-check-label"
							                                for="leftbar-size-small-hover"> Small Hover </label>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="offcanvas-footer border-top p-3 text-center">
			<div class="row">
				<div class="col">
					<button class="btn btn-danger w-100" id="reset-layout"
					        type="button">Reset
					</button>
				</div>
			</div>
		</div>
	</div>
</div>

</html>